:root {
    --green-darkest: #132A13;
    --green-dark: #31572C;
    --green-mid: #4F772D;
    --green-light: #90A955;
    --green-pale: #ECF39E;
  
    --text-dark: #132A13;
    --text-light: #F5F5F5;
    --text-muted: #C8C8C8;
}
  