.navigation-container {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    background-color: #f9eaea;
    padding: 16px;
    height: 70px;
    width: 100%;
}
.navigation-side {
    display: flex;
    flex-direction: row;
}
.navigation-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    background-color: #d9d9d9;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
.navigation-button:hover {
    cursor: pointer;    
}
.navigation-button.play-button {
    border-radius: 32px;
    background-color: red;
    width: 70px;    
}
.navigation-button.navigation-button.play-button:hover {
    color: #000000;
}